.authorSingle
  background-position: top center
  background-repeat: no-repeat
  background-size:  cover
  .authorContainer
    img
      width: auto
    .specialsubtitle
      color: white
      font-size: 20px

.authorBibliografia
  .authorData
    .authorInfo
      .authorFoto
        margin-bottom: -122px
        z-index: 1
        .authorSilvana
          background-color: $maize
          background-position: top
          background-repeat: no-repeat
          background-size: auto
          transform: scaleX(-1)
          background-attachment: local
          height: 550px
          margin-bottom: 55px
      .authorParrafo
        background-color: $gray
        .authorDerecha
          margin-top: 150px
          p
            line-height: 25px
        .authorBtn
          margin-top: 15px
          margin-bottom: 60px
          +flex(row, center, center)
          .authorClik
            .btn-more
              padding: 0.8em 2em
    .authorVisita
      text-align: center
      padding-top: 0
      .authorDireccion
      .authorTitle
        h2
          font-size: 35px
          font-family: 'authenticHilton'
          font-weight: normal

+tablet
  .authorSingle
    height: 500px
    .authorContainer
      img
        margin-bottom: 5px
      .specialTitle
        font-size: 111px
      .specialsubtitle
        font-size: 25px

  .authorBibliografia
    .authorData
      .authorInfo
        +flex(column, center)
        .authorFoto
          z-index: 0
          padding-left: 0
          .authorSilvana
            background-color: $maize
            background-position: top left
            background-repeat: no-repeat
            background-size: auto
            height: 500px


        .authorParrafo
          border-radius: 3px
          margin-top: -128px
          .authorDerecha
            margin-top: 0
            p
              padding: 33px 10px 0 26px
          .authorBtn
            margin: 22px 0
            +flex(row, flex-end)
      .authorVisita
        +flex(row, center)
        text-align: right
        margin-top: -12px
        margin-left: -29px
        margin-right: 38px
        .authorTitle
          h2
            font-size: 44px
        .authorDireccion
          z-index: 3

+desktop
  .authorSingle
    height: 100vh
    .authorContainer
      img
        transform: translate(320%) translateY(140%)
      .specialTitle
        font-size: 120px
      .specialsubtitle
        margin: 30px 0
        text-align: left
        font-size: 25px
      .authorParrafo
      .authorSociales
        width: 100%
        margin-bottom: -70px
        .footerSociales
          +flex(row, flex-end, center)
          margin: 40px 0
          .footerFace, .footerWhat
            margin: 0 20px
            a
              font-size: 50px

  .authorBibliografia
    .authorData
        .authorInfo
          .authorFoto
            .authorSilvana
              background-color: $maize
              background-position: top center
              background-repeat: no-repeat
              background-size: cover
              height: 500px
              border-bottom: 31px solid $maize
          .authorParrafo
            .authorDerecha
              p
                padding: 35px 50px 0 80px
        .authorVisita
          .authorTitle
            margin-top: 73px
            margin-right: -8px
            h2
