.blog
  .blogData
    text-align: center
    margin-bottom: 12px
    h2
      font-size: 30px
    p
      margin-bottom: 40px

  .blogArticles
    .article
      display: block
      margin-bottom: 30px
  .blogbuton
    display: flex
    justify-content: center
    margin-top: 40px
    .btn-contact
      text-align: center
      background-color: transparent
      border: 1px solid $black
      color: $purpish-brown
      font-size: 14px
      width: 253px
      padding: .7em 1.8em
  .btnBlog
    margin-top: 40px
    .btn-more
      margin: 0 auto


+tablet
  .blog
    font-size: 14px
    .blogData
      margin-bottom: 50px
      h2
        font-size: 40px
        margin-bottom: 40px
      p
        max-width: 80%
        margin: 0 auto
        text-align: center

    .blogArticles
      .article:last-child
        display: none

    .btnBlog
      margin-top: 0px !important

+desktop
  .blog
    .blogData
      h2
        font-size: 50px
      p
        font-size: 14px

    .blogArticles
      .article
        margin-bottom: 80px
      .article:last-child
        display: block

    .blogbuton
      margin: 0px
