.article
  margin-bottom: 80px
  &-image
    margin-top: 10px
    background-color: $black
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    height: 280px
    border-radius: 3px
    +flex(column, center, center)
    +before-color($reddish-pink)
    position: relative
    overflow: hidden
   
    h3
      z-index: 1
      text-align: center

+desktop
  .article
    height: 300px