.btn-menu
  overflow: hidden
  background-color: $purpish-brown
  width: 54px
  height: 54px
  margin-top: 10px
  margin-right: 10px
  border-radius: 50px
  border: none
  outline: none
  box-shadow: 2px 2px 5px 0px
  transition: 0.3s ease
  i
    transition: 0.3s ease
    color: white
    font-size: 23px

  &:active
    transform: translateY(10%)

.btn-more
  outline: none
  border-radius: 50px
  background-color: transparent
  transition: 0.3s ease
  font-size: 14px
  font-weight: $bold
  color: $purpish-brown
  border: 2px solid $purpish-brown
  padding: .8em .8em
  +flex(row, center, center)
  text-transform: inherit
  max-width: 253px

  &:active
    transform: translateY(10%)
  i
    font-size: 24px

.btn-contact
  overflow: hidden
  padding: 0.8em 2em
  border-radius: 50px
  background-color: $maize
  border: 0
  +flex(row, center, center)
  text-transform: capitalize
  font-weight: $bold
  outline: none
  transition: 0.3s ease
  max-width: 400px
  width: 175px
  &:hover
    background-color: darken($maize, 10%)
  &:active
    transform: translateY(10%)
    i
      transform: scale(1.4)
  i
    transition: 0.1s cubic-bezier(.87,-.41,.19,2)
    color: $reddish-pink
    margin-left: 1em
  span
    color: $purpish-brown !important

.btn-secondary,
input[type="submit"]
  overflow: hidden
  padding: 1em 2em
  border-radius: 3px
  background-color: $reddish-pink
  border: 0
  +flex(row, center, center)
  font-weight: $bold
  outline: none
  color: white
  transition: 0.3s ease
  &:hover
    background-color: lighten($reddish-pink, 5%)

.input-suscripcion
  overflow: hidden
  padding: 10px 10px
  font-size: 12px
  text-align: center
  font-weight: $bold
  border-radius: 3px
  width: 257px
