.btn-menu
  overflow: hidden
  background-color: $purpish-brown
  width: 54px
  height: 54px
  margin-top: 10px
  margin-right: 10px
  border-radius: 50px
  border: none
  outline: none
  box-shadow: 2px 2px 5px 0px
  transition: 0.3s ease
  i
    transition: 0.3s ease
    color: white
    font-size: 23px

  &:active
    transform: translateY(10%)

.btnServicios
  outline: none
  border-radius: 50px
  background-color: transparent
  transition: 0.3s ease
  font-size: 14px
  font-weight: $bold
  color: $purpish-brown
  border: 2px solid $purpish-brown
  padding: 1em 2em
  +flex(row, center, center)
  
  &:active
    transform: translateY(10%)
  i
    font-size: 24px
