.cover
  width: 100%
  height: 100vh
  position: relative
  border-bottom: 7px solid $maize
  background-position: center center
  background-color: $reddish-pink
  background-repeat: no-repeat
  background-size: cover

  article
    height: 100%
    position: relative
    +flex(column, center,center)
  
  .specialTitle
    text-align: center

  .carousel-indicators
    .active
      background-color: $reddish-pink
      width: 15px
      height: 15px
    li
      transition: 0.3s ease-out
      margin-right: 15px
      width: 12px
      height: 12px
      &:last-child
        margin-right: 0
  .carousel-inner
    width: 100%
    height: 100%
    .item
      height: 100vh
      width: 100%
      background-position: center center
      background-size: cover
      background-repeat: no-repeat
      +before-beige()

      .carousel-caption
        bottom: 10%
        top: 30%
        left: 0
        right: 0

  .coverLogo
    position: absolute
    text-align: center
    top: 15%
    left: 0
    right: 0
    z-index: 1
    figure
      .logo
        width: 200px

  .coverDatos
    text-align: center
    position: relative

  &-content
    color: white
    text-align: center



+tablet
  .cover
    .carousel-inner
      .item
        .carousel-caption
          bottom: 35%
          left: 10%
          right: 10%
    .coverLogo
      margin-bottom: 80px
      figure
        .logo
          width: 250px

    .coverDatos
      h1
        margin-bottom: 15px

+desktop
  .cover
    &-content
      text-align: left
    .specialTitle
      text-align: left
    article
      +flex(column, center, start)
      img
        margin-left: 45px 
    .coverLogo
      margin-bottom: 40px
    .carousel-inner
      .item
        .carousel-caption
          .coverDatos
            p
              width: 500px
              margin: 0 auto
