.cover
  width: 100%
  height: 100vh
  position: relative
  border-bottom: 7px solid $maize
  .carousel-indicators
    .active
      background-color: $reddish-pink
      width: 15px
      height: 15px
    li
      transition: 0.3s ease
      margin-right: 15px
      width: 12px
      height: 12px
      border: 2px solid white
      &:last-child
        margin-right: 0
  .carousel-inner
    width: 100%
    height: 100%
    .item
      height: 100vh
      width: 100%
      background-position: center center
      background-size: cover
      background-repeat: no-repeat
      &::before
        content: ""
        position: absolute
        background-color: $color-hover-cover
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 0
      .carousel-caption
        bottom: 10%
        top: 30%
        left: 0
        right: 0

  .coverLogo
    position: absolute
    text-align: center
    top: 15%
    left: 0
    right: 0
    z-index: 1
    figure
      .logo
        width: 200px

  .coverDatos
    text-align: center
    position: relative


+tablet
  .cover
    .carousel-inner
      .item
        .carousel-caption
          bottom: 35%
          left: 10%
          right: 10%
    .coverLogo
      margin-bottom: 80px
      figure
        .logo
          width: 250px

    .coverDatos
      h1
        margin-bottom: 15px

+desktop
  .cover
    .coverLogo
      margin-bottom: 40px
    .carousel-inner
      .item
        .carousel-caption
          .coverDatos
            p
              width: 500px
              margin: 0 auto
