.modal
  &-body
    padding: 2em
    article
      margin-bottom: 15px
  &-header
    background-color: $purpish-brown
    .close
      color: white
      opacity: 1
    h4
      color: white

  &-content
    h4
      line-height: 25px

  &-footer
    +flex(column, end, end)