.servicios
  background-color: $gray

  .serviciosContainer
    .serviciosCorporales
      margin-bottom: 35px

    .serviciosCorporales,
    .serviciosFaciales
      height: 200px
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      color: #ffffff
      font-weight: $bold
      font-size: 20px
      +flex(row, center, center)
      &::before
        opacity: 0
        content: ''
        position: absolute
        top: 0
        left: 0
        background-color: $maize
        width: 100%
        height: 100%

      h3
        transition: 0.3s ease
        text-shadow: 2px 2px 4px rgba(black, 0.6)

      &:hover
        text-shadow: 0px 4px 8px rgba($black, 0.6)
        transform: translateY(-2%)
        &::before
          opacity: 0.5
        & h3
          transform: translate(-50%, -50%)

    .serviciosCorporales
      &:hover
        & h3
          transform: translate(50%, -50%)


    .serviciosFaciales
      margin-bottom: 35px
  .btn-servicesContainer
    .btn-more
      margin: 0 auto


+tablet
  .servicios
    .serviciosContainer
      .serviciosCorporales,
      .serviciosFaciales
        height: 500px
      .serviciosCorporales
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%)
      .serviciosFaciales
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%)

+desktop
  .servicios
    .serviciosContainer
      .serviciosCorporales,
      .serviciosFaciales
      .serviciosCorporales
        justify-content: flex-start
      .serviciosFaciales
        justify-content: flex-end
