.single-article
  .container
    +flex(column, center, center)
    article
      +flex(column, center, center)
      margin: 0 auto
      width: 100%
      a
        color: $maize
        text-transform: initial
        &:hover
          color: darken($maize, 10%)
      p:first-child
        &::first-letter
          font-family: "authenticHilton"
          float: left
          font-size: 119.2px
          line-height: 90px
          font-weight: 400
          color: $reddish-pink
          padding-right: 30px
          margin-bottom: -1px
      blockquote
        p
          font-style: italic
        p::first-letter
          font-family: inherit !important
          float: none !important
          font-size: inherit !important
          line-height: inherit !important
          padding-right: inherit !important
          color: inherit !important

      p
        line-height: 32px
        font-size: 16px
        margin-bottom: 30px
        +desktop-HD
          font-size: 18px
      li
        line-height: 32px
        margin-bottom: 15px
        font-size: 18px
        &::before
          color: black
          font-weight: bold
      img,
      .wp-caption
        border-radius: 3px
        width: 100% !important
        height: auto !important
        .wp-caption-text
          font-weight: $bold
          color: $warm-gray
          font-size: 14px

    .signature
      right: 0
      align-self: flex-end
      margin: 20px 0
      +desktop
        margin: 20px 40px 20px 0

  .shared-on
    bottom: 0 !important
  .share-article
    background-color: white
    border-top: 1px solid #e4e4e4
    position: fixed
    z-index: 1000
    bottom: -71px
    left: 0
    right: 0
    transition: 0.3s ease 0.1s
    .container
      +flex(row, center, center)
      .nav-bottom
        +flex(row, space-between, center)
        .brand-share
          +flex(row,center, center)
          img
            width: 100px
          h6
            font-family: "Alex brush"
            font-size: 14px
        .share-like
          font-size: 12px
          text-transform: inherit
          display: none
          +tablet
            display: block
      .share-links
        height: 70px
        +flex(row, end, center)
        a
          color: $reddish-pink
          font-size: 40px
          margin-right: 15px
        .icon-facebook-with-circle:hover
          color: $facebook
        .icon-twitter-with-circle:hover
          color: $twitter

/* Related post on footer article*/
.related-posts
  padding-bottom: 40px
  padding-top: 40px
  .relatedposts
    &-title
      margin-bottom: 80px
      color: $reddish-pink
