@import url(//fonts.googleapis.com/css?family=Raleway:400,900,700|Alex+Brush)

@font-face
  font-family: 'authenticHilton'
  font-style: normal
  font-weight: normal
  src: url('../fonts/authenticHilton.ttf') format("truetype")


body
  font-family: 'Raleway'
  color: $warm-gray
  font-size: 14px

h1
  font-size: 30px
  font-weight: $bold
+tablet
  h1
    font-size: 50px
h2
  font-size: 30px
  font-weight: $bold
  color: $black

+tablet
  h2
    font-size: 40px
+desktop
  h2
    font-size: 50px

h3
  font-size: 20px
  font-weight: $bold
  text-transform: capitalize
  padding: 0 1em
+tablet
  h3
    font-size: 18px


h4
  font-size: 18px
  font-weight: $bold
  text-transform: capitalize
  color: $purpish-brown
+desktop
  h4
    font-size: 20px

p
  line-height: 22px
  font-weight: $regular
  letter-spacing: 0.6px

a
  color: $black
  text-transform: uppercase
  font-weight: $bold
  transition: 0.3s ease
  &:active,
  &:focus
    color: $reddish-pink
    text-decoration: none

  &:hover
    text-decoration: none
    color: $maize
small
  font-weight: normal
  font-style: italic
time
  font-weight: $bold
  font-size: 18px

.specialTitle
  color: white
  font-family: "Alex brush"
  font-size: 60px
  line-height: 90px
  font-weight: lighter
  text-transform: capitalize
+tablet
  .specialTitle
    font-size: 120px
