/*
 * Archivos CSS
 */

@import "bootstrap.min.css"
@import "stylesIconsFont.css"

/*
 * Components
 */

@import "components/variables"
@import "components/mixins"
@import "components/typography"
@import "components/utilities"
@import "components/cover"
@import "components/barnner"
@import "components/menu"
@import "components/buttons"
@import "components/barnner"
@import "components/welcome"
@import "components/searchBox"
@import "components/article"
@import "components/pagination-links"
@import "components/single-article"
@import "components/modal"
@import "components/servicios"
@import "components/contactForm"
@import "components/google_map"
@import "components/cotizador"
@import "components/comentarioclientes"
@import "components/suscripcion"
@import "components/footer"

/*
 * Pages
 */

@import "pages/sobre-nosotros"
@import "pages/services"
@import "pages/home"

body
  padding: 0
  margin: 0
img
  border-radius: 3px
